* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    color: #d8d8d8;
}

body {
    background-color: #272727;
    font-size: 1.3rem;
}

.loading-screen {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;

    cursor: pointer;
    background-color: #272727;
    z-index: 111111;
    transition: all 0.5s;
}

.vanish {
    opacity: 0;
}

.hidden {
    display: none;
}

.section {
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 1s;
}

/* poniższe dwie klasy definiują, czy dana karta została czy dopiero będzie odwiedzona */
.slide-up {
    transform: translateY(-100%);
}

.slide-down {
    transform: translateY(100%);
}

.heading {
    font-family: 'Merienda', cursive;
    text-align: center;
}

.heading-main {
    padding-bottom: 2em;
}

.heading-sub {
    line-height: 42px;
}

.btn {
    position: absolute;
    width: 240px;
    height: 30px;
    left: 50%;
    transform: translateX(-50%);
    margin: 5px 0px;

    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    stroke: #5a5a5a;
    transition: 0.3s;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    stroke: #d8d8d8;
}

.btn-page-up {
    top: 0px;
}

.btn-page-down {
    bottom: 0px;
}

.arrow {
    height: 25px;
}

.arrow > line {
    stroke: inherit;
    stroke-width: 20px;
    stroke-linecap: round;
}

.header {
    margin-top: 0px;
}

/* CHMURY W NAGŁÓWKU */
/* Każda chmura jest grafiką svg, ułożoną później odpowiednio za pomocą poniższych reguł css;
Ponieważ każda z nich ma ustawiony viewbox można zmieniać rozmiar każdego kształtu uzywając jego wartości szerokości */

.cloud-container {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 1s;
}

.cloud-container-split {
    transform: translateX(-25%);
    width: 200%;
}

.cloud {
    position: absolute;
    stroke: #fff;
    fill: #fff;
    opacity: 0.8;
}

.small-cloud {
    max-width: 300px;
    opacity: 0.3;
}

.cloud-1 {
    width: 360px;
    bottom: 10%;
    left: -45px;
}

.cloud-2 {
    transform: scaleX(-1);
    width: 250px;
    right: -65px;
    bottom: 31%;
}

.cloud-3 {
    width: 290px;
    top: 16%;
    left: -30px;
}

.cloud-4 {
    width: 125px;
    top: 55%;
    left: 5px;
}

.cloud-5 {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 120px;
    top: 5%;
    right: 12%;
}

/* SEKCJA WSTĘP */
.text-content, .lampion-container {
    margin-top: 80px;
}

.text-content {
    padding: 0px 25px;
}

.text-content >  * {
    padding-bottom: 20px;
}

.introduction .heading-sub {
    color: #D4AF37;
}

.lampion-container {
    position: relative;
    height: 40%;
    transition: all 0.3s;
}

.lampion-container > * {
    position: absolute;
    width: 80px;
    stroke-width: 0.5;
    stroke: #D4AF37;
    fill: #D4AF37;
    transition: all 0.5s;
    animation-name: floating-lantern;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.lampion-container > *:hover{
    filter: drop-shadow(0 0 8px #fcd248c5);
}

.lampion-1 {
    left: 10%;
    top: 30%;
    animation-duration: 8s;
}

.lampion-2 {
    left: 35%;
    top: 10px;
    animation-duration: 6s;
}

.lampion-3 {
    left: 70%;
    top: 15%;
    animation-duration: 7s;
}

.lampion-fade {
    opacity: 0;
}


.about-me .heading-sub {
    color: #5fca56;
}

.about-me > .text-content {
    background-color: #272727aa;
    box-shadow: 0px 0px 36px 36px #272727aa;
    z-index: 111;
    border-radius: 10px;
}

.fish-1, .fish-2, .fish-3 {
    position: absolute;
    stroke: #5fca56;
    stroke-width: 0.5;
    fill: #5fca56;
}

.fish-1 {
    width: 240px;
    
    top: 100px;
    animation-name: swimming-fish;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    animation-timing-function: linear;
}



.my-projects > .heading-sub {
    color: #d64a4a;
}



.contact > .heading-sub {
    color: #439ed3;
}

/* RWD */

/* @media (min-width: 576px) {
    Tutaj dodać jeszcze jeden przedział szerokości dla chmur
} */

@keyframes floating-lantern {
    0% {
        margin-left: 0px;
        margin-top: -10px;
    }

    33% {
        margin-left: -6px;
        margin-top: 4px;
    }

    66% {
        margin-left: 6px;
        margin-top: 8px;
    }

    100% {
        margin-left: 0px;
        margin-top: -10px;
    }
}

@keyframes swimming-fish {
    0% {
        left: 120%;
    }

    100% {
        left: -240px;
    }
}

@media (min-width: 992px) {
    .btn {
        width: 400px;
        height: 50px;
    }

    .heading-main {
        font-size: 2.5em;
    }
    .section {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .header {
        flex-direction: column;
        justify-content: center;
        align-items: unset;
    }


    .text-content {
        margin-bottom: 80px;
        width: 30%;
        padding: 25px;
        padding-left: 10%;
        font-size: 1.4em;
        text-align: justify;
    }

    .lampion-container, .fish-container {
        width: 50%;
        height: 60%;
        margin: 0;
    }
    
    .lampion-container > * {
        width: 130px;
    }

    .lampion-1 {
        left: 10%;
        top: 320px;
    }

    .lampion-2 {
        left: 35%;
        top: 70px;
    }

    .lampion-3 {
        left: 70%;
        top: 230px;
    }
}

@media (min-width: 1200px) {
    .btn {
        width: 600px;
        height: 75px;
    }

    .btn > svg {
        height: 45px;
    }

    .cloud-1 {
        left: 8%;
        width: 635px;
    }

    .cloud-2 {
        right: 10%;
        width: 480px;
    }

    .cloud-3 {
        left: 10%;
        width: 530px;
    }

    .cloud-4 {
        left: 1%;
        width: 480px;
    }

    .cloud-5 {
        right: 12%;
        width: 420px;
    }
}