* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    color: #d8d8d8;
}

body {
    background-color: #272727;
    font-size: 1.3rem;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #d64a4a91;
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background: #00000033;
}

.loading-screen {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;

    cursor: pointer;
    background-color: #272727;
    z-index: 1111111111;
    transition: all 0.5s;
}

.vanish {
    opacity: 0;
}

.hidden {
    display: none;
}

.section {
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 1s;
}

.slide-up {
    transform: translateY(-100%);
}

.slide-down {
    transform: translateY(100%);
}

h1, h2, h3, p {
    padding-bottom: 10px;
    text-align: center;
}

.heading {
    font-family: 'Courgette', cursive;
}

.heading-main {
    padding-bottom: 2em;
}

.heading-sub {
    line-height: 42px;
}

.btn {
    position: absolute;
    width: 240px;
    height: 30px;
    left: 50%;
    transform: translateX(-50%);
    margin: 5px 0px;
    z-index: 1111111;

    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    stroke: #5a5a5a;
    transition: 0.3s;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    stroke: #d8d8d8;
}

.btn-page-up {
    top: 0px;
}

.btn-page-down {
    bottom: 0px;
}

.arrow {
    height: 25px;
}

.arrow > line {
    stroke: inherit;
    stroke-width: 20px;
    stroke-linecap: round;
}

/* Tytuł: */
/* Każda chmura jest grafiką svg, ułożoną później odpowiednio za pomocą poniższych reguł css;
Ponieważ każda z nich ma ustawiony viewbox można zmieniać rozmiar każdego kształtu uzywając jego wartości szerokości */

.cloud-container {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 1s;
}

.cloud-container-split {
    transform: translateX(-25%);
    width: 200%;
}

.cloud {
    position: absolute;
    stroke: #fff;
    fill: #fff;
    opacity: 0.8;
}

.small-cloud {
    max-width: 300px;
    opacity: 0.3;
}

.cloud-1 {
    width: 360px;
    bottom: 10%;
    left: -45px;
}

.cloud-2 {
    transform: scaleX(-1);
    width: 250px;
    right: -65px;
    bottom: 31%;
}

.cloud-3 {
    width: 290px;
    top: 16%;
    left: -30px;
}

.cloud-4 {
    width: 125px;
    top: 55%;
    left: 5px;
}

.cloud-5 {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 120px;
    top: 5%;
    right: 12%;
}


/* Wstęp */

.text-content {
    margin-bottom: 50px;
}

.text-content {
    padding: 0px 25px;
}

.text-content >  * {
    padding-bottom: 20px;
}

.introduction .heading-sub {
    color: #D4AF37;
}

.lampion-container {
    position: relative;
    height: 40%;
    transition: all 0.3s;
}

.lampion-container > * {
    position: absolute;
    width: 80px;
    stroke-width: 0.5;
    stroke: #D4AF37;
    fill: #D4AF37;
    transition: all 0.5s;
    animation-name: floating-lantern;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.lampion-container > *:hover{
    filter: drop-shadow(0 0 8px #fcd248c5);
}

.lampion-1 {
    left: 10%;
    top: 30%;
    animation-duration: 8s;
}

.lampion-2 {
    left: 35%;
    top: 10px;
    animation-duration: 6s;
}

.lampion-3 {
    left: 70%;
    top: 15%;
    animation-duration: 7s;
}

.lampion-fade {
    opacity: 0;
}


/* Więcej o mnie: */

.about-me .heading-sub {
    color: #5fca56;
}

.about-me > .text-content {
    background-color: #272727aa;
    box-shadow: 0px 0px 36px 36px #272727aa;
    z-index: 111;
    border-radius: 10px;
}

.about-me h3 {
    font-size: 1em;
}

.about-me p {
    font-size: 0.8em;
}

.fish-1, .fish-2, .fish-3 {
    position: absolute;
    stroke: #5fca56;
    stroke-width: 0.5;
    fill: #5fca56;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.fish-1 {
    width: 200px;
    top: 150px;
    animation-name: swimming-fish-left;
    animation-duration: 14s;
}

.fish-2 {
    width: 130px;
    top: 520px;
    animation-name: swimming-fish-left;
    animation-duration: 23s;
}

.fish-3 {
    width: 160px;
    top: 360px;
    transform: scaleX(-1);
    animation-name: swimming-fish-right;
    animation-duration: 20s;
}


/* Moje projekty: */

.my-projects .heading-sub {
    color: #d64a4a;
}

.card-container {
    height: 300px;
    background-color: #424242;
    box-shadow: 0px 0px 12px 12px #424242;
    overflow-y: scroll;
    white-space: nowrap;
    scroll-snap-type: y proximity;
}

.card {
    box-sizing: border-box;
    padding: 40px 0px;
    height: 100%;
    scroll-snap-align: center;
}

.card-inner {
    position: relative;
    height: 210px;
    width: 300px;
    margin: 5px auto;
    /* background-color: transparent; */
}

.card-content {
    box-sizing: border-box;
    position: absolute;
    width: 90%;
    height: 100%;
    margin: 0px 5%;
    background-color: #d64a4a;
    color: #272727;
    border-radius: 5px;
}

.card-front {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    stroke: #424242;
    stroke-width: 10px;
    fill: #d64a4a;
    stroke-linecap: round;
    transition: top 0.8s;
    
    /* na urządzeniach dotykowych wierzch karty nie wyświetla się,
    ponieważ na nich źle działa :hover */
    display: none;
}

.card-text, .card-link {
    padding: 10px;
    text-align: center;
    color: #d8d8d8;
    white-space: normal;
}

.card-link {
    display: block;
    font-weight: bold;
}

/* Sekcja z formularzem: */

.contact .heading-sub {
    color: #439ed3;
}

.contact-form > * {
    box-sizing: border-box;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0px;
    background-color: #424242;
    resize: none;
}

.contact-form > *:focus {
    outline: none;
}

.form-submit {
    transition: all 0.2s;
}

.form-submit:hover {
    background-color: #313131;
}


/* RWD */

/* @media (min-width: 576px) {
    Tutaj dodać jeszcze jeden przedział szerokości dla chmur
} */

@keyframes floating-lantern {
    0% {
        margin-left: 0px;
        margin-top: -10px;
    }

    33% {
        margin-left: -6px;
        margin-top: 4px;
    }

    66% {
        margin-left: 6px;
        margin-top: 8px;
    }

    100% {
        margin-left: 0px;
        margin-top: -10px;
    }
}

@keyframes swimming-fish-left {
    0% {
        left: 125%;
    }

    100% {
        left: -400px;
    }
}

@keyframes swimming-fish-right {
    0% {
        right: 125%;
    }

    100% {
        right: -400px;
    }
}

@media (min-width: 992px) {
    .btn {
        width: 400px;
        height: 50px;
    }

    .heading-main {
        font-size: 2.5em;
    }

    .section {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .header {
        flex-direction: column;
        justify-content: center;
        align-items: unset;
    }

    .text-content, .lampion-container, .fish-container, .card-container {
        box-sizing: border-box;
        width: 50%;
        max-width: 600px;
    }

    .card-container {
        width: 40%;
    }

    .text-content {
        margin-top: 0px;
        margin-bottom: 40px;
        font-size: 1.4em;
    }

    .lampion-container, .fish-container {
        height: 60%;
        margin-left: 10%;
        margin: 0;
    }
    
    .lampion-container > * {
        width: 130px;
    }

    .lampion-1 {
        left: 10%;
        top: 320px;
    }

    .lampion-2 {
        left: 35%;
        top: 70px;
    }

    .lampion-3 {
        left: 70%;
        top: 230px;
    }

    .fish-1 {
        width: 400px;
    }
    
    .fish-2 {
        width: 260px;
    }
    
    .fish-3 {
        width: 320px;
    }

    .card-front {
        display: block;
    }

    .card-inner:hover .card-front {
        top: 300px;
    }
}

@media (min-width: 1200px) {
    .btn {
        width: 600px;
        height: 75px;
    }

    .btn > svg {
        height: 45px;
    }

    .cloud-1 {
        left: 8%;
        width: 635px;
    }

    .cloud-2 {
        right: 10%;
        width: 480px;
    }

    .cloud-3 {
        left: 10%;
        width: 530px;
    }

    .cloud-4 {
        left: 1%;
        width: 480px;
    }

    .cloud-5 {
        right: 12%;
        width: 420px;
    }
}